<div class="container">
    <div class="row">
        <div class="title">产品编辑</div>
        <div class="pull-right">
            <a href="{:url('dblogadmin/product.product/index')}" class="btn btn-info">
                <span class="glyphicon glyphicon-list"></span>&nbsp;产品列表
            </a>
        </div>
    </div>
    <div class="row margin-top30">
        <form id="J-edit-form" class="form" enctype="multipart/form-data" autocomplete="off">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon font-bold">标题</div>
                    <input type="text" class="form-control" name="title" maxlength="30"
                           value="{$prod_info.title|default=''}" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon font-bold">品类</div>
                    {notempty name="cate_list"}
                    <div id="J-category_select">
                        <select name="category_id[]" class="form-control" style="width:auto;">
                            <option value="0">请选择品类</option>
                            {volist name="cate_list" id="cate"}
                            <option value="{$cate.category_id}">{$cate.title}</option>
                            {/volist}
                        </select>
                        <img src="{:get_url_of_static_resource('static/dblogadmin/images/loading.gif')}"
                             id="J-loading" style="width: 20px; height: 20px; display: none;" />
                    </div>
                    {else/}
                    <input type="text" class="form-control" disabled value="{$cate_name_path|default=''}" />
                    <input type="hidden" name="category_id[]" value="{$prod_info.category_id|default=0}" />
                    {/notempty}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon font-bold">排序</div>
                    <input type="text" class="form-control dv_int" name="sort"
                           maxlength="4" value="{$prod_info.sort|default=''}" placeholder="默认为0" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon font-bold">状态</div>
                    {php}
                    $checked_on = '';
                    $checked_off = '';
                    if((int)$prod_info['status'] == 1){
                    $checked_on = 'checked';
                    }else{
                    $checked_off = 'checked';
                    }
                    {/php}
                    &nbsp;
                    <label class="font-normal"><input type="radio" name="status" value="1" {$checked_on} />开启</label>
                    &nbsp;
                    <label class="font-normal"><input type="radio" name="status" value="0" {$checked_off} />关闭</label>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon font-bold">图片</div>
                    &nbsp;
                    <input type="file" name="image_path_file"/>
                    {php}
                    if(trim($prod_info['image_path_file'])){
                        $img_src = preg_replace('/(\.jpg|\.jpeg|\.png)$/i', '_100_100$1', '/image'.$prod_info['image_path_file']);
                        echo '<img src="'.$img_src.'" />';
                    }
                    {/php}
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon font-bold">描述</div>
                    <textarea name="description" class="form-control" style="height:200px;">{$prod_info.description|default=''}</textarea>
                </div>
            </div>
            <div class="form-group margin-top30">
                <input type="hidden" name="product_id" value="{$prod_info.product_id|default=0}" />
                <input type="submit" class="btn btn-success pull-right font-bold" value="保存" />
            </div>
        </form>
    </div>
</div>
<script src="{:get_url_of_static_resource('static/dblogadmin/js/category.js')}{$Think.config.timestamp}"></script>
<script src="{:get_url_of_static_resource('static/dblogadmin/js/product.js')}{$Think.config.timestamp}"></script>
<script>
    $(document).on('change', '#J-category_select select', function(){
        var level = $(this).index();
        $('#J-category_select select').each(function(i){
            if(i > level){
                $(this).remove();
            }
        });
        if($(this).val() != '0'){
            Category.getChildrenToSelect($(this));
        }
    });
    $('#J-edit-form').submit(function(){
        Product.save();
        return false;//防止表单自身的提交动作
    });
</script>