<div class="module display-none">
    <div class="md-name"><p>搜索文章</p></div>
    <div class="md-content margin-top-15px margin-bottom-30px">
        <form action="javascript:void(0);" autocomplete="off">
            <input type="text" name="search_keyword" placeholder="输入文章标题中关键词" />
            <input type="submit" value="搜索" />
        </form>
    </div>
</div>
<div class="module display-none">
    <div class="md-name"><p>推荐文章</p></div>
    <div class="md-content margin-top-15px margin-bottom-30px">
        <ul class="list-style padding-left-15px">
            <li><a href="/">匆匆abbbb</a></li>
            <li><a href="/">你还记得吗你还记得吗你还记得吗你还记得吗</a></li>
            <li><a href="/">匆匆那些年，我们过得不累</a></li>
        </ul>
    </div>
</div>
<div class="module">
    <div class="md-name"><p>个人简介</p></div>
    <div class="md-content margin-top-15px margin-bottom-30px">
        <ul>
            <li>姓名：赖道斌</li>
            <li>别名：DB</li>
            <li>邮箱：shouwenlai@foxmail.com</li>
            <li>职业：PHPer程序猿</li>
            <li>喜欢：看书、听歌、游泳、轮滑</li>
        </ul>
    </div>
</div>