<meta charset="UTF-8">
<title>DBLOG管理平台</title>
{volist name="css_list" id="css"}
<link rel="stylesheet" type="text/css" href="{:get_url_of_static_resource($css)}{$Think.config.timestamp}" />
{/volist}

<script src="{:get_url_of_static_resource('jquery/jquery-1.11.0.min.js')}"></script>
<script src="{:get_url_of_static_resource('jquery/jquery-form-4.1.0.js')}"></script>
<script src="{:get_url_of_static_resource('zDialog/zDrag.js')}"></script>
<script src="{:get_url_of_static_resource('zDialog/zDialog.js')}"></script>