#article-detail h1{display: block; width: 100%; text-align: center; font-size: 18px;}
#article-detail .note{border: 1px dashed #ccc; color: #999; height: 30px; line-height: 30px;
    margin: 20px auto; text-align: center; font-size: 13px;}
#article-detail .content p{line-height: 24px; text-indent: 2em;}
#article-detail .syntaxhighlighter .toolbar{display: none !important;}