html, body{width: 100%; margin: 0; padding: 0;
    font-size: 14px; font-weight: normal; font-family: "宋体","Arial";
    background: #fff; color: #333;}
h1, h2, h3{margin: 0; padding: 0; display: inline;}
p{margin: 0; padding: 0;}
ul{margin: 0; padding: 0; list-style: none;}
ul.list-style{list-style: disc;}
img{border:none;}
img:focus{border: none;}
a{color: #333; text-decoration: none;}
a:hover{color: #333;}
a:focus{border:none;}
.background-none{background: none !important;}
.float-clear-both{clear: both;}
.display-none{display: none !important;}
.padding-left-15px{padding-left: 15px;}
.margin-top-15px{margin-top: 15px;}
.margin-top-30px{margin-top: 30px;}
.margin-top-60px{margin-top: 60px;}
.margin-bottom-5px{margin-bottom: 5px;}
.margin-bottom-30px{margin-bottom: 30px;}

#header, #content, #footer{width: 1024px; margin: 0 auto;}

#logo{display: inline-block; width: 240px; height: 60px;}
#logo img{width: 240px; height: 60px;}
#logo strong{font-size: 24px; color: #38f;}
#header-nav-bar{display: inline-block; margin-left: 30px;}
#header-nav-bar>li{display: inline-block; float: left; padding:0 20px;}
#header-nav-bar>li>a{font-size: 18px;}
#header-nav-bar>li>a.hover, #header-nav-bar>li>a:hover{color: #f00;}
#header-nav-bar>li>a>strong{font-weight: normal;}

#bread-crumb-nav{width: 90%; height: 20px; line-height: 20px; color: #999;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-left: 20px;}
#bread-crumb-nav a{color: #333;}
#bread-crumb-nav a:hover{color: #38f;}

#content{min-height: 70vh;}
#content-left{display: block; float: left; width: 740px;}
#content-left .module{margin-bottom: 60px;}
#content-left .module .md-name p{font-size: 18px; font-weight: bold; background: #fff; width: 80px;}
#content-left .module .mdc-name a{color: #666; margin-bottom: 5px;}
#content-left .module .mdc-name a:hover{color: #38f;}
#content-left .module .mdc-name strong{font-size: 14px;}
#content-left .module .mdc-image{display: inline-block; float: left; width:180px; height:120px;}
#content-left .module .mdc-image img{width:180px; height: 120px;}
#content-left .module .mdc-description{display: inline-block; float: right; color: #666;
    width:550px; height:120px; line-height: 20px; font-size: 13px; overflow-y: hidden;}
#content-left .module .mdc-note span{padding-right: 20px; color: #666;}
#content-left .module .mdc-note span.date{padding-left: 20px;}

#content-right{display: block; float: right; width: 240px;}
#content-right .module{margin-bottom: 60px;}
#content-right .module .md-name p{font-size: 14px; font-weight: bold; background: #fff; width: 70px;}
#content-right .module .md-content ul{line-height: 20px;}
#content-right .module a:hover{text-decoration: underline;}

#footer{height: 50px; line-height: 50px; margin-top: 60px;}
#footer span.copyright{font-size: 20px; position: relative; top: 3px;}