#content-left .module .md-name p{width:auto;}
#content-left .module .mdc-image.cate-list img{width:20em; height:15em; display: block; margin: 0 auto; margin-bottom: 0.5em;}
#content-left .module .mdc-image.cate-list span{display: block; text-align: center; font-weight: bold;}